/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .container {
    max-width: 110rem;
  }

  .header {
    touch-action: pan-y;
    .hero {
      .description {
        .hero-subheading {
          font-size: 1.8rem;
        }

        .hero-heading {
          font-size: 7rem;
        }
      }
    }
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .container {
    max-width: 100rem;
  }

  .plane {
    // width: 100px;
    transform: scale(0.8);
  }
}
/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .container {
    max-width: 100rem;
    padding: 0 5rem;
  }

  .paragraph {
    font-size: 2rem;
  }

  .header .top-nav {
    .main-links,
    .authorize {
      display: none;
    }

    .menu__burger {
      display: block;
      cursor: pointer;
    }
  }

  .images {
    display: none;
  }

  .dots {
    display: none;
  }
  .header {
    .decore {
      display: none;
    }
  }

  .header .cta-block {
    .play-demo:hover {
      transform: scale(1.2);
    }

    .btn__cta:link,
    .btn__cta:visited {
      padding: 2.2rem 4rem;
      font-size: 2rem;
    }
  }

  .destinations .decore {
    display: none;
  }

  .main .services .categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .main .booking .booking-steps {
    max-width: fit-content;
    width: auto;
  }

  .booking-card {
    display: none;
  }

  .main .testimonials {
    flex-direction: column;
    align-items: center;
    .comment {
      max-width: 70rem;
      width: auto;

      .user-avatar {
        top: -20%;
      }
    }
  }

  .arrow {
    display: none;
  }

  .main .form {
    background: rgba(223, 215, 249, 0.5);
    padding: 10rem 4rem;
    form {
      flex-direction: column;

      .form-input input {
        overflow: hidden;
      }
      button {
        padding: 3rem 6rem;
        font-size: 2.4rem;
      }
    }

    .spiral {
      display: none;
    }
  }
  .footer {
    .footer-links {
      flex-direction: column;
      gap: 6.4rem;
      height: auto;
      .company-desc {
        .paragraph {
          font-size: 2.5rem !important;
        }
      }

      .footer-links__main {
        width: auto;
        .footer-links__col {
          .footer-links__header {
            font-size: 3rem;
          }
          .footer-link {
            font-size: 2.5rem !important;
          }
        }
      }

      .footer-links-mobile__col {
        max-width: 40rem;
        .social img {
          transform: scale(1.5);
          margin-bottom: 4rem;
        }

        .social__header {
          font-size: 3rem;
          margin-bottom: 4rem;
        }

        .social__mobile {
          gap: 9.6rem;
          img {
            transform: scale(1.5);
          }
          img:hover {
            transition: none !important;
          }
        }
      }
    }
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .categories {
    grid-template-columns: 1fr !important;
    justify-items: center;
    .category-card {
      max-width: 40rem;
    }
  }

  .destinations {
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;

    .destination {
      max-width: 50rem;
      min-width: 35rem;
    }
  }
}

.footer {
  .blur {
    display: none;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 36em) {
  .header {
    height: auto;
    .hero {
      // padding: 6.4rem 5rem;
      padding-top: 9.6rem;
    }
    .paragraph {
      margin-bottom: 6.4rem !important;
    }

    .cta-block {
      flex-direction: column;
      align-items: start;
      justify-self: start;
    }
  }

  .footer .footer-links {
    .footer-links-mobile__col .social__mobile {
      flex-direction: column;
      gap: 3.2rem;

      img {
        transform: none;
        width: 60%;
      }
    }

    .footer-links__main {
      flex-direction: column;
      gap: 3rem;
      .footer-links__col {
        gap: 3rem;
      }
    }
  }
}
