/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 84em) {
  .container {
    max-width: 110rem;
  }
  .header {
    touch-action: pan-y;
  }
  .header .hero .description .hero-subheading {
    font-size: 1.8rem;
  }
  .header .hero .description .hero-heading {
    font-size: 7rem;
  }
}
/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .container {
    max-width: 100rem;
  }
  .plane {
    transform: scale(0.8);
  }
}
/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .container {
    max-width: 100rem;
    padding: 0 5rem;
  }
  .paragraph {
    font-size: 2rem;
  }
  .header .top-nav .main-links,
  .header .top-nav .authorize {
    display: none;
  }
  .header .top-nav .menu__burger {
    display: block;
    cursor: pointer;
  }
  .images {
    display: none;
  }
  .dots {
    display: none;
  }
  .header .decore {
    display: none;
  }
  .header .cta-block .play-demo:hover {
    transform: scale(1.2);
  }
  .header .cta-block .btn__cta:link,
  .header .cta-block .btn__cta:visited {
    padding: 2.2rem 4rem;
    font-size: 2rem;
  }
  .destinations .decore {
    display: none;
  }
  .main .services .categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .main .booking .booking-steps {
    max-width: fit-content;
    width: auto;
  }
  .booking-card {
    display: none;
  }
  .main .testimonials {
    flex-direction: column;
    align-items: center;
  }
  .main .testimonials .comment {
    max-width: 70rem;
    width: auto;
  }
  .main .testimonials .comment .user-avatar {
    top: -20%;
  }
  .arrow {
    display: none;
  }
  .main .form {
    background: rgba(223, 215, 249, 0.5);
    padding: 10rem 4rem;
  }
  .main .form form {
    flex-direction: column;
  }
  .main .form form .form-input input {
    overflow: hidden;
  }
  .main .form form button {
    padding: 3rem 6rem;
    font-size: 2.4rem;
  }
  .main .form .spiral {
    display: none;
  }
  .footer .footer-links {
    flex-direction: column;
    gap: 6.4rem;
    height: auto;
  }
  .footer .footer-links .company-desc .paragraph {
    font-size: 2.5rem !important;
  }
  .footer .footer-links .footer-links__main {
    width: auto;
  }
  .footer .footer-links .footer-links__main .footer-links__col .footer-links__header {
    font-size: 3rem;
  }
  .footer .footer-links .footer-links__main .footer-links__col .footer-link {
    font-size: 2.5rem !important;
  }
  .footer .footer-links .footer-links-mobile__col {
    max-width: 40rem;
  }
  .footer .footer-links .footer-links-mobile__col .social img {
    transform: scale(1.5);
    margin-bottom: 4rem;
  }
  .footer .footer-links .footer-links-mobile__col .social__header {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
  .footer .footer-links .footer-links-mobile__col .social__mobile {
    gap: 9.6rem;
  }
  .footer .footer-links .footer-links-mobile__col .social__mobile img {
    transform: scale(1.5);
  }
  .footer .footer-links .footer-links-mobile__col .social__mobile img:hover {
    transition: none !important;
  }
}
/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/
@media (max-width: 44em) {
  .categories {
    grid-template-columns: 1fr !important;
    justify-items: center;
  }
  .categories .category-card {
    max-width: 40rem;
  }
  .destinations {
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }
  .destinations .destination {
    max-width: 50rem;
    min-width: 35rem;
  }
}
.footer .blur {
  display: none;
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media (max-width: 36em) {
  .header {
    height: auto;
  }
  .header .hero {
    padding-top: 9.6rem;
  }
  .header .paragraph {
    margin-bottom: 6.4rem !important;
  }
  .header .cta-block {
    flex-direction: column;
    align-items: start;
    justify-self: start;
  }
  .footer .footer-links .footer-links-mobile__col .social__mobile {
    flex-direction: column;
    gap: 3.2rem;
  }
  .footer .footer-links .footer-links-mobile__col .social__mobile img {
    transform: none;
    width: 60%;
  }
  .footer .footer-links .footer-links__main {
    flex-direction: column;
    gap: 3rem;
  }
  .footer .footer-links .footer-links__main .footer-links__col {
    gap: 3rem;
  }
}

/*# sourceMappingURL=queries.css.map */
