html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.subheading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #5e6282;
}

.heading {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 5rem;
  line-height: 1.3;
  color: #14183e;
  text-transform: capitalize;
}

.paragraph {
  color: #5e6282;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  line-height: 2;
}

.blur {
  position: absolute;
  width: 50rem;
  height: 50rem;
  background: #d5aee4;
  opacity: 0.3;
  filter: blur(75px);
}

.header {
  margin-bottom: 9.6rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header .top-nav {
  padding-top: 4.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .top-nav .link:link,
.header .top-nav .link:visited {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.2rem;
  color: #212832;
}
.header .top-nav .link:hover,
.header .top-nav .link:active {
  color: #f1a501;
  transform: scale(1.1);
  transition: all 0.3s;
}
.header .top-nav .main-links {
  display: flex;
  gap: 6rem;
  margin-left: auto;
  margin-right: 8.6rem;
}
.header .top-nav .authorize {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.header .top-nav .authorize .link__sign-up:link,
.header .top-nav .authorize .link__sign-up:visited {
  border: 1px solid #212832;
  border-radius: 6px;
  line-height: 1.3;
  padding: 0.9rem 2.1rem;
}
.header .top-nav .authorize .link__sign-up:hover,
.header .top-nav .authorize .link__sign-up:active {
  border: 1px solid #f1a501;
}
.header .top-nav .authorize .btn__lang {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.header .top-nav .menu__burger {
  display: none;
}
.header .hero {
  display: flex;
  height: auto;
  align-items: center;
  height: 100%;
  flex: 1;
}
.header .hero .description {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 45%;
}
.header .hero .description .hero-subheading {
  color: #df6951;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}
.header .hero .description .hero-heading {
  color: #181e4b;
  font-weight: 700;
  font-family: "Volkhov", serif;
  font-size: 8rem;
  line-height: 1.05;
  letter-spacing: -0.04rem;
  margin-bottom: 3.2rem;
}
.header .hero .description .paragraph {
  max-width: 78%;
  margin-bottom: 3.2rem;
}
.header .cta-block {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.header .cta-block .btn__cta:link,
.header .cta-block .btn__cta:visited {
  color: #fff;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  background-color: #f1a501;
  padding: 1.9rem 2.7rem;
  border-radius: 10px;
  line-height: 1.3;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
}
.header .cta-block .btn__cta:hover,
.header .cta-block .btn__cta:active {
  transform: scale(1.1);
  transition: all 0.3s;
  background-color: #f5c04d;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.2);
}
.header .cta-block .play-demo {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header .cta-block .play-demo .btn__play {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #df6951;
  box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
  border-radius: 50%;
}
.header .cta-block .play-demo .btn__play-description {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  color: #686d77;
  line-height: 1.5;
  font-weight: 500;
}
.header .cta-block .play-demo:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.3s;
}
.header .images .traveller {
  width: 100%;
}
.header .hero-blur {
  top: -3rem;
  left: -45rem;
}
.header .decore {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.images {
  position: relative;
}

.plane {
  position: absolute;
}

.plane-1 {
  top: 8%;
  right: 70%;
}

.plane-2 {
  right: 0%;
  top: 25%;
  z-index: -1;
}

.traveller {
  z-index: 1;
}

.main .services {
  position: relative;
  margin-bottom: 20rem;
}
.main .services .subheading {
  text-transform: uppercase;
  text-align: center;
}
.main .services .heading {
  text-align: center;
  margin-bottom: 6.4rem;
}
.main .services .categories {
  display: flex;
  justify-content: space-between;
}
.main .services .categories .category-card {
  text-align: center;
  padding: 4.2rem;
  flex-basis: 25%;
  border-radius: 36px;
  position: relative;
}
.main .services .categories .category-card .category-image {
  width: 16rem;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.main .services .categories .category-card .card-heading {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.4;
  color: #1e1d4c;
  margin-bottom: 1.6rem;
}
.main .services .categories .category-card .block-red {
  position: absolute;
  left: -10%;
  bottom: -10%;
  width: 10rem;
  height: 10rem;
  background: #df6951;
  border-radius: 30px 0px 10px;
  display: none;
  z-index: -2;
}
.main .services .categories .category-card:hover {
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  transition: box-shadow 0.3s;
}
.main .services .categories .category-card:hover .block-red {
  display: block;
}
.main .services .dots {
  position: absolute;
  top: 0;
  right: -10%;
}
.main .top-destinations {
  margin-bottom: 18.6rem;
}
.main .top-destinations .subheading {
  text-align: center;
  text-transform: capitalize;
}
.main .top-destinations .heading {
  text-align: center;
  margin-bottom: 6.4rem;
}
.main .top-destinations .destinations {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.main .top-destinations .destinations .destination {
  background-size: cover;
  flex-basis: 30%;
  width: auto;
  border-radius: 24px;
  padding-top: 40rem;
  overflow: hidden;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.05));
}
.main .top-destinations .destinations .destination .destination-desc {
  background-color: #fff;
  padding: 2.7rem 2rem;
}
.main .top-destinations .destinations .destination .destination-desc .destination-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.main .top-destinations .destinations .destination .destination-desc .trip-duration {
  display: flex;
  gap: 0.5rem;
}
.main .top-destinations .destinations .destination:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07));
  transition: all 0.3s ease-in-out;
}
.main .top-destinations .destinations .destination-1 {
  background-image: url("../imgs/destination1.png");
}
.main .top-destinations .destinations .destination-2 {
  background-image: url("../imgs/destination2.png");
}
.main .top-destinations .destinations .destination-3 {
  background-image: url("../imgs/destination3.png");
}
.main .top-destinations .destinations .decore {
  position: absolute;
  top: 35%;
  right: -5%;
  z-index: -2;
}
.main .booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20rem;
}
.main .booking .booking-steps {
  max-width: 51rem;
}
.main .booking .booking-steps .heading {
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.4rem;
  text-transform: capitalize;
  color: #14183e;
  margin-bottom: 3.2rem;
}
.main .booking .booking-steps .subheading {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-transform: capitalize;
  color: #5e6282;
  width: fit-content;
}
.main .booking .booking-steps .steps-list {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
.main .booking .booking-steps .steps-list .steps-list-el {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.main .booking .booking-steps .steps-list .steps-list-el .steps-list-el__header {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #5e6282;
  margin-bottom: 0.4rem;
  width: fit-content;
}
.main .booking .booking-steps .steps-list .steps-list-el .paragraph {
  font-weight: 400;
  line-height: 1.2;
}
.main .booking .booking-steps .steps-list .steps-list-el .steps-list-el__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 13px;
  flex-shrink: 0;
}
.main .booking .booking-steps .steps-list .steps-list-el .steps-list-el__icon__1 {
  background-color: #f0bb1f;
}
.main .booking .booking-steps .steps-list .steps-list-el .steps-list-el__icon__2 {
  background-color: #f15a2b;
}
.main .booking .booking-steps .steps-list .steps-list-el .steps-list-el__icon__3 {
  background-color: #006380;
}
.main .booking .booking-card {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  padding: 2rem 2.5rem;
  border-radius: 26px;
  position: relative;
  background-color: #fff;
  margin-right: 12rem;
}
.main .booking .booking-card .booking-image {
  margin-bottom: 2.6rem;
}
.main .booking .booking-card .booking-header {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.2;
  letter-spacing: 0.015rem;
  color: #000;
  margin-bottom: 1.6rem;
}
.main .booking .booking-card .booking-date {
  margin-bottom: 2rem;
}
.main .booking .booking-card .booking-icons {
  display: flex;
  gap: 1.8rem;
  margin-bottom: 3.2rem;
}
.main .booking .booking-card .booking-icons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background-color: #f5f5f5;
}
.main .booking .booking-card .people {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .booking .booking-card .trip-blur {
  position: absolute;
  background: #59b1e6;
  opacity: 0.4;
  filter: blur(75px);
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  top: -10%;
  right: -10%;
  z-index: -1000;
}
.main .booking .booking-card .trip {
  position: absolute;
  right: -30%;
  top: 50%;
  background-color: #fff;
  width: fit-content;
  display: flex;
  gap: 1.2rem;
  padding: 2rem;
  border-radius: 18px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.main .booking .booking-card .trip .trip-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}
.main .booking .booking-card .trip .subheading {
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: -0.035rem;
  font-weight: 500;
}
.main .booking .booking-card .trip .heading {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
}
.main .booking .booking-card .trip .paragraph {
  font-weight: 500;
  color: #080809;
  margin-bottom: 0.1rem;
}
.main .booking .booking-card .trip .paragraph span {
  color: #8a79df;
}
.main .booking .booking-card .trip .trip-percentage {
  height: 0.7rem;
  background-color: #f5f5f5;
  width: 17rem;
  border-radius: 30px;
}
.main .booking .booking-card .trip .trip-percentage .percentage {
  width: 40%;
  border-radius: 30px;
  flex-grow: 0;
  justify-self: start;
  height: 100%;
  background-color: #8a79df;
}
.main .testimonials {
  display: flex;
  gap: 10rem;
  margin-bottom: 14.4rem;
}
.main .testimonials .subheading {
  text-transform: uppercase;
}
.main .testimonials .comment {
  position: relative;
  max-width: 55rem;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
  padding: 0 2.4rem;
  padding-top: 3.6rem;
  padding-bottom: 3.2rem;
  color: #5e6282;
  font-family: "Poppins", sans-serif;
}
.main .testimonials .comment .paragraph {
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}
.main .testimonials .comment .comment-header {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
.main .testimonials .comment .comment-subheader {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 500;
}
.main .testimonials .comment .user-avatar {
  position: absolute;
  top: -7%;
  left: -7%;
}
.main .logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 12.8rem;
}
.main .logos .brand-logo {
  width: 24rem;
  filter: grayscale(100%);
  text-align: center;
  padding: 2.4rem;
}
.main .logos .brand-logo:hover {
  transition: all 0.3s;
  filter: none;
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
  transform: scale(1.05);
  cursor: pointer;
}
.main .form {
  background: rgba(223, 215, 249, 0.2);
  border-radius: 129px 20px 20px 20px;
  padding: 8rem 15.5rem;
  text-align: center;
  position: relative;
  margin-bottom: 12.8rem;
}
.main .form .form-heading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 1.6;
  text-align: center;
  color: #5e6282;
  margin-bottom: 6.4rem;
}
.main .form form {
  width: 72%;
  margin: 0 auto;
  position: relative;
  display: flex;
  gap: 2.4rem;
}
.main .form form .form-input {
  padding: 2.5rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  line-height: 1.2;
  width: 100%;
  background-color: #fff;
  align-items: center;
  gap: 1rem;
  display: flex;
  align-items: center;
}
.main .form form .form-input input {
  font-size: 2rem;
}
.main .form form .form-input input:active,
.main .form form .form-input input:focus {
  outline: none;
  border: none;
}
.main .form form button {
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  padding: 2.2rem 5rem;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2;
}
.main .form form button:hover {
  background: linear-gradient(180deg, #ff9f7c 0%, #ff8a77 100%);
  cursor: pointer;
  transition: all 0.3s;
  transform: scale(1.05);
}
.main .form .spiral {
  position: absolute;
  opacity: 0.2;
  z-index: -1;
}
.main .form .spiral__2 {
  bottom: 0;
  left: 2%;
}
.main .form .spiral__1 {
  right: 0;
  top: 15%;
}
.main .form .arrow {
  top: -5%;
  right: -1%;
  position: absolute;
}
.main .form .dots {
  position: absolute;
  bottom: -15%;
  right: -8%;
}

.footer {
  position: relative;
}
.footer .footer-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8.6rem;
}
.footer .footer-links .company-desc .company-name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4.4rem;
  line-height: 1;
  color: #181e4b;
  margin-bottom: 3.2rem;
}
.footer .footer-links .company-desc .paragraph {
  font-size: 1.3rem;
  line-height: 1.2;
}
.footer .footer-links .footer-links__main {
  display: flex;
  justify-content: space-between;
  min-width: 47rem;
  flex-shrink: 0;
}
.footer .footer-links .footer-links__main .footer-links__col {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.footer .footer-links .footer-links__main .footer-links__col .footer-links__header {
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2;
  color: #080809;
}
.footer .footer-links .footer-links__main .footer-links__col .footer-link:link,
.footer .footer-links .footer-links__main .footer-links__col .footer-link:visited {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  color: #5e6282;
}
.footer .footer-links .footer-links__main .footer-links__col .footer-link:hover,
.footer .footer-links .footer-links__main .footer-links__col .footer-link:active {
  transform: scale(1.05);
}
.footer .footer-links .footer-links-mobile__col .social {
  display: flex;
  justify-content: space-between;
}
.footer .footer-links .footer-links-mobile__col .social img:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.footer .footer-links .footer-links-mobile__col .social__header {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0.005rem;
  color: #5e6282;
  margin-bottom: 1.2rem;
}
.footer .footer-links .footer-links-mobile__col .social__mobile {
  display: flex;
  gap: 1rem;
}
.footer .footer-links .footer-links-mobile__col .social__mobile img:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.footer .copyright {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 8rem;
}
.footer .footer-blur {
  right: -22%;
  bottom: -80%;
}

@keyframes flyOut {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(600px, -350px);
  }
}
@keyframes returnBack {
  0% {
    transform: translate(-1000px, 750px);
  }
  100% {
    transform: translate(0, 0);
  }
}
img.animated {
  animation: flyOut 1.5s linear forwards;
}

img.get-back {
  animation: returnBack 1.5s ease-in-out;
  animation-fill-mode: forwards;
}

/*# sourceMappingURL=style.css.map */
