// COLOR VARIABLES

$btn-active-color: #f1a501;
$btn-play-text-color: #686d77;

$main-heading-color: #181e4b;
$category-heading-color: #1e1d4c;
$booking-heading-color: #14183e;

$decore-blur-color: #d5aee4;
$trip-blur-color: #59b1e6;

$steps-list-color-1: #f0bb1f;
$steps-list-color-2: #f15a2b;
$steps-list-color-3: #006380;

$main-red-color: #df6951;
$main-purple-color: #8a79df;
$main-dark-blue: #5e6282;
$main-cultured-color: #f5f5f5;
$main-vampire-black-color: #080809;

$white-color: #fff;
$black-color: #000;
$nav-link-color: #212832;
