.link {
  text-decoration: none;

  &:link,
  &:visited {
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.2rem;
    color: $nav-link-color;
  }

  &:hover {
    color: $btn-active-color;
    transform: scale(1.1);
    transition: all 0.3s;
  }

  &:active {
    transform: scale(1.05);
  }

  &--sign-up {
    &:link,
    &:visited {
      border: 1px solid $nav-link-color;
      border-radius: 6px;
      line-height: 1.3;
      padding: 0.9rem 2.1rem;
    }

    &:hover,
    &:active {
      border: 1px solid $btn-active-color;
    }
  }

  &--lang {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
}
