.hero {
  display: flex;
  height: auto;
  align-items: center;
  height: 100%;
  flex: 1;
  &__description {
    flex: 1 0 45%;

    &__paragraph {
      @include paragraph;
      max-width: 78%;
      margin-bottom: 3.2rem;
    }
  }

  &__blur {
    top: -3rem;
    left: -45rem;
  }

  &__decore {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
  }
}

.cta {
  display: flex;
  align-items: center;
  gap: 4rem;

  &__btn--1 {
    &:link,
    &:visited {
      color: $white-color;
      font-weight: 500;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.8rem;
      background-color: $btn-active-color;
      padding: 1.9rem 2.7rem;
      border-radius: 10px;
      line-height: 1.3;
      box-shadow: 0px 20px 35px rgba($btn-active-color, 0.15);
    }

    &:hover {
      transform: scale(1.1);
      transition: all 0.3s;
      background-color: lighten($btn-active-color, 5%);
      box-shadow: 0px 20px 35px rgba($btn-active-color, 0.2);
    }

    &:active {
      transform: scale(1.05);
    }
  }

  &__btn--play {
    display: flex;
    align-items: center;
    gap: 2rem;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
      transition: all 0.3s;
    }

    &:active {
      transform: scale(1.05);
    }
  }
}

.btn-play {
  &-icon {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-red-color;
    box-shadow: 0px 15px 30px rgba($main-red-color, 0.3);
    border-radius: 50%;
  }

  &-description {
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    color: $btn-play-text-color;
    line-height: 1.5;
    font-weight: 500;
  }
}

.traveller {
  width: 100%;
  z-index: -1;
}

.hero__images {
  position: relative;
}

.plane {
  position: absolute;

  &--1 {
    top: 8%;
    right: 70%;
  }

  &--2 {
    right: 0%;
    top: 25%;
    z-index: -1;
  }

  &.animated {
    animation: flyOut 1.5s linear forwards;
  }

  &.get-back {
    animation: returnBack 1.5s ease-in-out;
    animation-fill-mode: forwards;
  }
}
