.top-destinations {
  margin-bottom: 18.6rem;

  &__subheading {
    text-align: center;
    text-transform: capitalize;
  }

  &__heading {
    text-align: center;
    margin-bottom: 6.4rem;
  }
}

.destinations {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.destination {
  background-size: cover;
  flex-basis: 30%;
  width: auto;
  border-radius: 24px;
  padding-top: 40rem;
  overflow: hidden;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.05);

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  &--1 {
    background-image: url('../imgs/destination1.png');
  }
  &--2 {
    background-image: url('../imgs/destination2.png');
  }
  &--3 {
    background-image: url('../imgs/destination3.png');
  }

  &__desc {
    background-color: $white-color;
    padding: 2.7rem 2rem;

    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    &__trip-duration {
      display: flex;
      gap: 0.5rem;
    }
  }
}

.destionations__decore {
  position: absolute;
  top: 35%;
  right: -5%;
  z-index: -2;
}
